body{
   font-size: 20px;
}

:root{
   --color-text:#612406;
   --bg-cards-color:#fbf7e3;
   --button-color:#f3df85;
}

img{
   max-width: 100%;
   max-height: 100%;
}

header,main{
   color:var(--color-text);
}
main{
   padding:15px
}
/****************************************************************************************************
*     Navbar Mobile
* * */

#navbar{
   position:fixed;
   top: 0;
   background-color: var(--bg-cards-color);
   padding:20px 10px;
   margin-left:-86%;
   width:80%;
   height: 100vh;
}

#open-menu{
   position:absolute;
   top:20px;
   right: -50px;
   width:50px;
   height: 50px;
   color: var(--color-text);
   background-color: var(--button-color);
   border:1px solid var(--bg-cards-color);
}

.shop img{
   float:left;
   width:50px;
}

#navbar li{
   background-color: var(--button-color);
   text-align: center;
   height: 50px;
   text-align: center;
   font-size: 0.75em;
   line-height: 50px;
   border-radius: 25px;
   margin-bottom: 10px;
}

.shop .nav-section{
   font-size: 1.3em;
}

.shop .nav-section img{
   margin: 5px -65px 0 15px;
}

.nav-section{
   font-weight: bold;
   text-decoration: none;
   color: var(--color-text);
}
@media screen and (min-width:576px) {
   /****************************************************************************************************
   *     Navbar Tablet
   * * */
   #open-menu{
      display: none;
   }
   #navbar{
      position: static;
      margin:0;
      background-color: var(--bg-cards-color);
      padding:20px 10px;
      width:auto;
      height: auto;
   }
   .nav-menu{
      display: flex;
      align-items: center;
      row-gap: 20px;
      justify-content: space-between;
   }

   #navbar li{
      flex-basis: 14.9%;
      line-height: 15px;
      height: 15px;
      padding:10px;
      margin-bottom: 0px;
   }

   #navbar .shop{
      flex-basis: 20%;
      height: 50px;
      line-height:50px;
      border-radius: 50px;
   }
   .shop .nav-section img{
      margin: 0px;
   }

   /****************************************************************************************************
   *     Product-Card
   * * */

   #selling-section h1{
      font-size: 2.0em;
      margin:20px 0;
      font-weight: bold;
   }

   .products{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .product-card{
      text-align: center;
      background-color: var(--bg-cards-color);
      margin-bottom:20px;
      flex:0 1 48%;
      border-radius: 20px;
   }
   .product-image{
      max-height: 250px;
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
   }

   .info-product{
      margin-top: 10px;
      padding:10px;
      display: flex;
      color: var(--color-text);
      align-items: center;
      justify-content: space-between;
   }
   .info-product h5{
      font-size: 1.1em;
      font-weight: bold;
   }
   .info-product p{
      margin-left: 10px;
   }
   .atc-button{
      color: var(--color-text);
      background-color: var(--button-color);
      border-radius: 50px;
      width:200px;
      height:50px;
      border: none;
      margin: 15px;
      font-size: 1.3em;
   }

   /****************************************************************************************************
   *     Article
   * * */
   h2{
      font-size: 2em;
      color: var(--color-text);
      font-weight: bold;
      margin-bottom: 15px;
   }
   .article{
      background-color: var(--bg-cards-color);
      color: var(--color-text);
      padding:30px;
      border-radius: 50px;
   }
   .article h3{
      font-size: 1.7em;
      font-weight: bold;
      margin-bottom: 20px;
   }

   .article img{
      width:100%;
      margin-top: 20px;
   }
}
