<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div id="user-box" class="btn-group dropup" *ngIf="logged">
  <span *ngIf="!show" id="fav-length" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">{{userPrefArr?.length}}</span>

  <button id="user-button" type="button"
  (click)="show=!show"
  class="btn btn-secondary dropdown-toggle"
  data-bs-toggle="dropdown" aria-expanded="false">
  <fa-icon [icon]="['fas','user']"></fa-icon>
  </button>

  <div [ngClass]="{show: show}" class="dropdown-menu">
    <div *ngFor="let fav of userPrefArr">
      <button class="dropdown-item pref-cities" (click)="search(fav.geodataCity)">{{fav.geodataCity?.local_names?.it? fav.geodataCity?.local_names?.it:fav.geodataCity?.name}}</button>
      <button (click)="removePref(fav.id)"></button>
    </div>
  </div>
</div>

