:root{
    --main-theme:#131334;
    --main-theme-days:#0C0B1D;
    --secondary-theme:#131334;
    --color-button:#7a408a;
}

/******************************************
* Generals
*/


/******************************************
* Month
*/


/******************************************
* Days
*/


/******************************************
* Add meeting Section
*/

