:root{
    --main-theme:#131334;
    --main-theme-days:#0C0B1D;
    --color-button:#7a408a;
}

/******************************************
* Generals
*/
#epicalendar{
    width: 599px;
    min-height:500px;
    background-color: var(--main-theme);
    color:white;
    margin:20px auto;
    font-size:20px;
    padding: 15px;
}

/******************************************
* Month
*/
#epicalendar .arrows{
    
    display: flex;
    text-align: right;
}
.title{
    display: flex;
    position: relative;
    margin-bottom: 20px;
}
#epicalendar h3{
    font-weight: bold;
    font-size: 3em;
    text-transform:capitalize;
}
.arrows{
    position: absolute;
    right: 0;
    margin-left:50px;
    
}
.arrow{
    color:white;
    height: 55px;
    background-color: var(--color-button);
    position: relative;
    right: 0;
    width: 47px;
    
}
/******************************************
* Days
*/
.days{
    background-color: var(--main-theme-days);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border: 1px solid var(--main-theme-days);
    height: 400px;
}

.day{
    flex:0 1 calc(100%/7);
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.notifica{
    position:absolute;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 100%;
    top:10px;
    right:10px
}
.day:hover{
    background-color: var(--main-theme);
}
/******************************************
* Add meeting Section
*/

.add-meeting-title{
    font-size: 2em;
    margin-bottom: 20px;
}
.add-meeting{
    display:flex;
    flex-wrap: wrap;
    font-size: 0.9em;
}
.meeting{
    margin-right: 35px;
}

.meeting-day input{
    background-color: var(--main-theme-days);
    display: none;
    border:none;
    color:white;
    width: 97px;
    font-size: 0.7em
}

.meeting-title{
    margin-bottom: 10px;
}
.meeting input,.meeting button{
    border-radius: 5px;
    height: 24px;
}
.meeting button{
    color:white;
    background-color: var(--color-button);
    height:30px;
}
.meeting-day label{
    font-size: 0.8em
}
.no-margin-right{
    margin-right: none;
}
.meeting-time input{
    color: white;
    background-color: var(--main-theme-days);
    border:none;
    padding-left: 5px;
    width: 90px;
}
.meeting-time input::-webkit-calendar-picker-indicator,
.meeting-day input::-webkit-calendar-picker-indicator{
    background-color: var(--color-button);
    border-radius: 100%;
    margin:2px
}
.meeting-name input{
    color:white;
    background-color: var(--main-theme-days);
    border:none;
    padding:3px;
    font-size: 0.7em;
}
