:root{
   --header-hero-bg: #ffc017;
   --buttons: #191919;
   --grey-text: #242424;
   --bg-alternative-button: #1a8917;
   --trending-tear-color: #e6e6e680;
   --info-post-color: #6b6b6b;
   --bg-category: #f2f2f2;
   --bg-hover-button:#000000;
}

/*______________________________GENERALI__________________________________*/

*{
   box-sizing: border-box;
}
body{
   font-family: Helvetica, Georgia, serif;
   font-size:1rem;
   
}
img{
   max-width: 100%;
   max-height:100%;
}
a{
   text-decoration: none;
   color: black;
}
h1{
   font-family: Georgia, "Times New Roman", Times, serif;
   
   font-size: 6.625em;
}
.hidden{
   display:none;
}
button:hover{
   cursor:pointer;
}
button:active{
   box-shadow: inset 1px 1px 5px black;
}
.flex{
   display: flex;
}
.sticky{
   position:sticky;
}
.wrap{
   flex-wrap: wrap;
}
.big-container{
   width: 70%;
   margin: 0 auto;
}
#mobile-footer{
   display:none;
}
.no-scroll{
   overflow-y: hidden;
   height: 100vh;
}

/*________________________________HEADER___________________________________*/


#header{
   top:0;
   padding:20px 0 15px 0;
   background-color: var(--header-hero-bg);
   border-bottom: 1px solid black; 
   z-index: 1;
   transition: background-color 0.5s linear;
}
#header .big-container{
   justify-content: space-between;
   align-items: center;
}
#menu{
   align-items: center;
}
.menu-list{
   margin:0 15px
}
.menu-list a{
   font-size: 0.875em;
}
.button{
   background-color: var(--buttons);
   color: white;
   font-size: 0.875em;
   border: none;
   padding:8px 16px;
   border-radius: 20px;
   height: 38px;
   transition: background-color 0.5s linear;
}
.button:hover{
   background-color: var(--bg-hover-button);
}
#header.scrolled{
   background-color: white;
}
.scrolled #nav-button{
   background-color: var(--bg-alternative-button);
}


/*_____________________________________HERO_________________________________*/

#section-hero{
   position: relative;
   height: 455px;
   background-color: var(--header-hero-bg);
   border-bottom: 1px solid black; 
   overflow: hidden;
}
#hero-text{
   padding: 75px 0;
   width:600px;
} 
#hero-text h2{
   margin-top: 20px;
   font-size: 1.5em;
   color: var(--grey-text);
}
#hero-button{
   margin-top:50px;
   font-size: 1.25em;
   width:213px;
   height: 42px;
}
#svg-box{
   position: absolute;
   right: 0;
   width: 585px;
}
#section-hero svg{
   width: 100%; 
   height: 100%; 
   transform: translate3d(0px, 0px, 0px); 
}

/*____________________________________TRANDING_____________________________________________*/
.title{
   align-items: center;
}
.title h3{
   font-weight: bold;
   font-size: 1em;
   color: var(--grey-text);
}
#trending-big-box{
   margin-top: 25px;
}
.post-box{
   flex-basis: calc(100%/3);
   margin: 15px 0;
}

.trending-tear{
   flex-basis: 15%;
}
.post{
   flex-basis: 70%;
}

.trending-tear{
   font-size: 1.88em;
   color:var(--trending-tear-color);
   font-weight: bold;
}
.account{
   align-items: center;
   margin-bottom: 5px;
}
.account-photo{
   width:25px;
   height:25px;
   border-radius:50%;
   margin-right:10px
}
.name{
   font-size:0.81em;
}
.post a{
   color: var(--grey-text);
   font-weight: bold;
}
.info-post{
   font-size: 0.81em;
   color:var(--info-post-color);
   margin-top: 10px;
}
#trending .info-post span::before,
.post-footer i:first-of-type:before,
.post-footer i:first-of-type:after{
   content: ".";
   position: relative;
   bottom:3.5px;
   margin:0 5px;
   font-size: 1.7em;
   background-color:none;
}
#main{
   border-bottom: 1px solid var(--trending-tear-color);
}

/*_____________________________BIG-POST__________________________________________*/

#giant-container, #long-scroll .post{
   justify-content: space-evenly;
}
#long-scroll, .global-info-post{
   flex-basis: 55%;
}
.image-post{
   flex-basis: 35%;
}
#long-scroll .account{
   margin-bottom: 10px;
}
.global-info-post>a{
   font-size:1.25em
}

span.subtitle{
   margin: 10px 0;
   display: block;
   font-size: 0.8em;
   font-weight: normal;
   color: var(--info-post-color);
}
.post-footer{
   justify-content: space-between;
   align-items: center;
}
.post-footer button{
   background-color: transparent;
   border: none;
}
#long-scroll .post{
   margin-top:50px;
}
.category{
   background-color: var(--bg-category);
   padding:5px 8px;
   border-radius: 25px;
   height: 26px;
   color:var(--info-post-color)
}

/*_____________________________ASIDE__________________________________________*/
#side-container{
   flex-basis: 30%;
}

#aside-footer{  
   top:100px;
   margin-top: 50px;
}
#aside{
   padding-bottom: 30px;
   border-bottom: 1px solid var(--trending-tear-color);
}
#aside h5{
   font-size: 1em;
   font-weight: bold;
   color: var(--grey-text);
   margin-bottom: 20px;
}
#category-block{
   gap:6px;
}
#aside .category{
   margin-bottom: 10px;
   height: 38px;
   padding:10px 15px;
}

a.other{
   display: block;
   color:var(--bg-alternative-button);
   font-size:0.87em;
   margin-top: 25px;
}
/*______________________________FOOTER____________________________________________*/
#footer{
   
   margin-top: 40px;
}
.footer-link{
   margin:0 15px 10px 0;
   font-size:0.87em;
   color: var(--info-post-color);
}

/*______________________________Login-Popup____________________________________________*/

#popup{
   position: fixed;
   width:100%;
   height: 100vh;
   top:0;
   z-index: 100;
   background-color: rgba(255, 255, 255, 0.705);
   transition: all 1s;
}
#login{
   box-shadow: 0 0 8px grey;
   text-align: center;
   position: fixed;
   left: calc(50vw - 339px);
   top: calc(50vh - 347.5px);
   width:678px;
   margin: 0 auto;
   height: 695px;
   background-color: white;
   z-index: 200;
}
#exit{
   position: absolute;
   right:0;
   font-weight: normal;
   font-size: 1.8em;
   border: none;
   background-color: transparent;
   color:var(--info-post-color);
   transform: rotate(45deg);
}
#login h2{
   margin-top: 100px;
   color:black;
   font-size:1.75em;
   font-weight: bold;
}
#login-system{
   margin-top: 100px;

}
.login-link{
   display: block;
   border: 1px solid black;
   position: relative;
   height: 42px;
   width:300px;
   line-height:42px;
   border-radius:25px;
   margin:10px auto;
}
.login-link i{
   position: absolute;
   left:15px;
   top:12px
}
#login p{
   margin-top: 70px;
}
#ask a{
   color:var(--bg-alternative-button);
   font-weight: bold;
}
#terms{
   width:350px;
   font-size: 0.81em;
   margin:0 auto;
   color:var(--info-post-color)
}
#terms a{
   text-decoration: underline ;
}

/*__________________________________Hover-Box_________________________________________*/

#profile-popup{
   position: absolute;
   padding:10px;
   width:350px;
   background-color: white;
   box-shadow: 0 0 7px grey;
   
}
#corner{
   position: absolute;
   left:-10px;
   top:45px;
   box-shadow: -3px 5px 5px -4px grey;
   width: 20px;
   height:20px;
   transform: rotate(45deg);
   background-color: white;
   z-index: 1;
}
#nickname{
   align-items: center;
   font-size: 1.2em;
   font-weight: bold;
}
#nickname a{
   margin-right: 10px;
}
#nickname img{
   width:35px;
   border-radius:50%;
}
#profile-popup>a{
   display: block;
   font-size: 0.8em;
   padding: 20px 0;
   border-bottom: 1px solid var(--trending-tear-color);
}
.follow{
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
}
.follow p{
   font-size: 0.8em;
   color: var(--info-post-color)
}
.follow .button{
   background-color: var(--bg-alternative-button);
   height: 20px;
   padding:0px 16px;
}

/*_________________________________Responsive___________________________________________*/

@media screen and (max-width: 1300px) {
   .big-container{
      width:90%
   }
}

@media screen and (max-width: 1080px) {
   #svg-box{
      right: inherit;
      left: 550px;
   }
   .post-box{
      flex-basis: calc(100%/2);
   }
}

@media screen and (max-width: 730px) {
   #menu li:nth-of-type(1),
   #menu li:nth-of-type(2),
   #menu li:nth-of-type(3){
      display: none;
   }

   h1{
      font-size: 5em;
   }


   #svg-box{
      display: none;
   }
   .post-box{
      flex-basis: 100%;
   }
   .trending-tear{
      flex-basis: 10%;
   }
   .post{
      flex-basis: 90%;
   }
   
   #giant-container{
      flex-direction: column;
      align-items: center;
      width:100%
   }
   #side-container{
      flex-basis: 100%;
      order:1;
   }
   #long-scroll{
      order:2;
   }
   #aside-footer{
      border-bottom: 1px solid var(--trending-tear-color);
   }
   #aside{
      width: 80%;
      margin:0 auto;
      border:none;
   }
   #footer{
      display:none;
   }
   #mobile-footer{
      display:block;
      color: white;
      background-color: black;
      padding:20px;
   }
   #mobile-footer img{
      height:40px;
   }
   #mob-footer-links{
      border-bottom: 1px solid white;
   }
   #mob-footer-links a{
      font-size: 0.81em;
      color: white;
      margin: 15px 15px;
   }
   #mob-footer-links a:hover{
      text-decoration: underline;
   }
   #mob-download-links{
      margin-top: 25px;
   }
   #mob-download-links p{
      margin-bottom: 20px;
   }
   .download img{
      border-radius: 25px;
      border:1px solid white;
   }
}

@media screen and (max-width:490px){ 
   h1{
      font-size: 3em;
   }
}
