@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
   font-family: 'Roboto', sans-serif;
   font-size:1rem;
}
a,button{
   font-family: 'Roboto', sans-serif;
}
img{
   max-width: 100%;
   max-height: 100%;
}