#main-settings{
   #cancel-membership{
      background-color: #E2E2E2;
      box-shadow: 0 3px 10px grey;
      font-size: 0.9em;
   }
   .settings-link{
      text-decoration: none;
   }
   #image-profile{
      width:50px
   }
}